
#search-bar {
    position: fixed;
    height: 40px;
    width: 540px;
    margin: 20px 40px 40px 40px;
    border-radius: 12px;
    background-color: #555;
    border: 1px solid #e1e4e8;
    padding: 0 12px;
}

#search-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
}

#search-icon {
    color: #dedede;
    font-size: 18px;
}

#input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #dedede;
}

#input::placeholder {
    color: #ccc;
}

